<p>{{lifehacks.author}}</p>
<p>Due on {{quote.completeDate|dateCount}} days</p>

    <div class="row">

        <div>

            <a href="#" onclick="event.preventDefault()" (click)="countClick()">
            
                <i class="fa fa-thumb-up pr-1 ml-4 like" ng-click="count = count + 1" ng-init="count=0" style="color:green;"></i>

            </a>

            <span class="m-4">{{ clickCounter }}</span>

        </div>
        <div>

            <a href="#" onclick="event.preventDefault()" (click)="countDislike()">
            
                <i class="fa fa-thumb-down pr-1 dislike" ng-click="count = count + 1" ng-init="count=0" style="color:red;"></i>
            
            </a>

            <span class="m-4">{{ dislikeCounter }}</span>

        </div>

        <button (click)="goalDelete(true)">Delete Quote</button>

    </div>